  <div class="waybill">
    <div class="header waybill-border-bottom ">
      <div class="header-l">
        <div class="header-l-oneship">
          <svg width="190" height="36" viewBox="0 0 190 36" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_39240:146511)">
              <path
                d="M15.3406 9.70361H29.5933C32.6957 9.70361 35.2098 12.2177 35.2098 15.3201C35.2098 18.4225 32.6957 20.9366 29.5933 20.9366V30.6402C38.0545 30.6402 44.9134 23.7813 44.9134 15.3201C44.9134 6.85891 38.0545 0 29.5933 0C23.1161 0 17.5823 4.02149 15.3406 9.70361Z"
                fill="black" />
              <path
                d="M29.5933 20.9366H15.3406C12.2382 20.9366 9.72412 18.4225 9.72412 15.3201C9.72412 12.2177 12.2382 9.70361 15.3406 9.70361V0C6.87941 0 0.0205078 6.85891 0.0205078 15.3201C0.0205078 23.7813 6.87941 30.6402 15.3406 30.6402C21.8178 30.6402 27.3516 26.6187 29.5933 20.9366Z"
                fill="black" />
              <path
                d="M100.147 11.5296C101.414 12.8279 102.048 14.6393 102.048 16.9661V27.0928H97.6864V17.557C97.6864 16.1857 97.3436 15.1329 96.658 14.3938C95.9723 13.657 95.0387 13.2875 93.8546 13.2875C92.6486 13.2875 91.7004 13.657 91.0026 14.3938C90.3072 15.1305 89.9595 16.1857 89.9595 17.557V27.0904H85.5977V9.83249H89.9595V11.9818C90.5406 11.233 91.2846 10.647 92.1867 10.2215C93.0912 9.79602 94.0807 9.58206 95.1627 9.58206C97.2196 9.58206 98.8802 10.2312 100.147 11.5296Z"
                fill="black" />
              <path
                d="M121.752 19.7695H109.133C109.238 21.0144 109.673 21.9918 110.441 22.6993C111.21 23.4069 112.156 23.7594 113.276 23.7594C114.896 23.7594 116.048 23.064 116.734 21.6709H121.439C120.94 23.3339 119.985 24.6979 118.572 25.7677C117.159 26.8375 115.426 27.3724 113.369 27.3724C111.706 27.3724 110.218 27.0029 108.898 26.2662C107.577 25.5294 106.551 24.4864 105.815 23.1345C105.078 21.7851 104.708 20.2266 104.708 18.4614C104.708 16.6744 105.071 15.1062 105.8 13.7567C106.527 12.4073 107.546 11.3691 108.854 10.6421C110.162 9.91517 111.667 9.55046 113.371 9.55046C115.012 9.55046 116.481 9.90301 117.779 10.6105C119.078 11.3156 120.084 12.3198 120.802 13.6157C121.519 14.9141 121.876 16.4045 121.876 18.087C121.876 18.7094 121.835 19.2711 121.752 19.7695ZM117.359 16.8422C117.337 15.7213 116.933 14.8217 116.143 14.1482C115.353 13.4747 114.388 13.1367 113.245 13.1367C112.165 13.1367 111.256 13.465 110.519 14.119C109.783 14.7731 109.33 15.6824 109.165 16.8446H117.359V16.8422Z"
                fill="black" />
              <path
                d="M128.105 26.4388C126.89 25.8577 125.929 25.0237 125.224 23.932C124.517 22.8403 124.154 21.5517 124.135 20.0661H128.808C128.871 21.0654 129.187 21.8532 129.759 22.4343C130.33 23.0154 131.113 23.3047 132.11 23.3047C133.126 23.3047 133.926 23.0324 134.51 22.4854C135.091 21.9407 135.383 21.2259 135.383 20.3433C135.383 19.6236 135.186 19.0328 134.792 18.5684C134.398 18.104 133.904 17.7393 133.311 17.4719C132.72 17.2044 131.903 16.9102 130.865 16.5844C129.452 16.12 128.305 15.6605 127.422 15.2083C126.54 14.756 125.781 14.0704 125.149 13.1537C124.514 12.2371 124.198 11.0117 124.198 9.47994C124.198 8.04056 124.519 6.78597 125.163 5.7186C125.808 4.65123 126.71 3.83185 127.874 3.26291C129.037 2.69397 130.367 2.4095 131.862 2.4095C134.106 2.4095 135.927 3.01977 137.33 4.23789C138.733 5.45601 139.506 7.15797 139.652 9.33892H134.852C134.811 8.50252 134.495 7.81201 133.902 7.26738C133.311 6.72276 132.526 6.44801 131.551 6.44801C130.697 6.44801 130.019 6.69115 129.511 7.17986C129.003 7.66613 128.747 8.37609 128.747 9.30488C128.747 9.95405 128.939 10.4938 129.324 10.9242C129.708 11.3545 130.184 11.7022 130.756 11.9697C131.327 12.2371 132.132 12.5435 133.17 12.8936C134.583 13.358 135.735 13.8224 136.627 14.2868C137.52 14.7512 138.288 15.449 138.932 16.3753C139.577 17.3041 139.898 18.5222 139.898 20.0321C139.898 21.3329 139.596 22.5388 138.993 23.6548C138.39 24.7684 137.508 25.6583 136.345 26.3196C135.183 26.981 133.802 27.3116 132.202 27.3116C130.685 27.3092 129.321 27.0199 128.105 26.4388Z"
                fill="black" />
              <path
                d="M156.516 10.4379C157.532 11.0093 158.327 11.8505 158.899 12.9617C159.47 14.0728 159.757 15.4076 159.757 16.9661V27.0928H155.395V17.557C155.395 16.1857 155.052 15.1329 154.367 14.3938C153.681 13.657 152.747 13.2875 151.563 13.2875C150.36 13.2875 149.409 13.657 148.714 14.3938C148.018 15.1305 147.671 16.1857 147.671 17.557V27.0904H143.309V2.41194H147.671V11.9818C148.232 11.233 148.979 10.647 149.915 10.2215C150.849 9.79602 151.887 9.58206 153.029 9.58206C154.335 9.58206 155.5 9.86897 156.516 10.4379Z"
                fill="black" />
              <path
                d="M163.837 7.04371C163.326 6.55501 163.073 5.9496 163.073 5.22018C163.073 4.4932 163.326 3.88536 163.837 3.39665C164.345 2.90795 164.985 2.66481 165.753 2.66481C166.521 2.66481 167.161 2.91038 167.669 3.39665C168.177 3.88536 168.432 4.4932 168.432 5.22018C168.432 5.94717 168.177 6.55501 167.669 7.04371C167.161 7.53242 166.521 7.77556 165.753 7.77556C164.985 7.77556 164.345 7.53242 163.837 7.04371ZM167.902 9.8325V27.0928H163.54V9.8325H167.902Z"
                fill="black" />
              <path
                d="M178.525 10.3455C179.512 9.81548 180.638 9.55046 181.905 9.55046C183.378 9.55046 184.713 9.91517 185.909 10.6421C187.103 11.3691 188.049 12.4025 188.744 13.7422C189.439 15.0818 189.787 16.6355 189.787 18.4007C189.787 20.1658 189.439 21.7292 188.744 23.0884C188.049 24.4499 187.103 25.5027 185.909 26.2516C184.715 27.0004 183.38 27.3724 181.905 27.3724C180.638 27.3724 179.522 27.1123 178.557 26.5944C177.591 26.0765 176.806 25.42 176.203 24.6323V35.3182H171.841V9.8325H176.203V12.3247C176.765 11.5345 177.538 10.8756 178.525 10.3455ZM184.693 15.7043C184.268 14.9457 183.706 14.3694 183.011 13.9756C182.315 13.5817 181.562 13.3847 180.752 13.3847C179.962 13.3847 179.22 13.5865 178.525 13.9926C177.83 14.3986 177.268 14.9846 176.842 15.7529C176.417 16.5212 176.203 17.4257 176.203 18.4639C176.203 19.5021 176.417 20.4065 176.842 21.1749C177.268 21.9432 177.83 22.5291 178.525 22.9352C179.22 23.3412 179.962 23.543 180.752 23.543C181.562 23.543 182.315 23.3364 183.011 22.9206C183.706 22.5048 184.268 21.914 184.693 21.1457C185.119 20.3774 185.333 19.4632 185.333 18.4031C185.333 17.36 185.119 16.4629 184.693 15.7043Z"
                fill="black" />
              <path
                d="M69.9858 2.41185C62.9543 2.41185 57.2527 8.11342 57.2527 15.145C57.2527 22.1765 62.9543 27.8781 69.9858 27.8781C77.0173 27.8781 82.7189 22.1765 82.7189 15.145C82.7189 8.11099 77.0173 2.41185 69.9858 2.41185ZM69.9858 23.5137C65.3638 23.5137 61.6146 19.767 61.6146 15.1425C61.6146 10.5181 65.3613 6.7713 69.9858 6.7713C74.6078 6.7713 78.357 10.5181 78.357 15.1425C78.357 19.767 74.6078 23.5137 69.9858 23.5137Z"
                fill="black" />
            </g>
            <defs>
              <clipPath id="clip0_39240:146511">
                <rect width="189.766" height="35.3157" fill="white" transform="translate(0.0205078)" />
              </clipPath>
            </defs>
          </svg>
        </div>

        <div class="header-l-custom">
          <img class="header-l-custom-logo"
            src="https://logistics-oms.s3.ap-southeast-1.amazonaws.com/tmp/provider/20211009/8e2e0bfb8b5643a99da9becca9891fcc.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20211026T025129Z&X-Amz-SignedHeaders=host&X-Amz-Expires=600&X-Amz-Credential=AKIA2C33OH3NTFML52XS%2F20211026%2Fap-southeast-1%2Fs3%2Faws4_request&X-Amz-Signature=5c7b2a8ce0b2fdb1ec4c8bc681dbcff82255f84f9d77a5ce83f17b4ea7d62207"></img>
        </div>
      </div>
      <div class="header-r">
        <svg id="barcode"></svg>
        <div class="header-r-text">
          <span>ORDER ID</span>
          <span class="header-r-order-id">LST5022367600166317135</span>
        </div>
      </div>
    </div>

    <div class="code waybill-border-bottom ">05B-16B213-01</div>

    <div class="address-wrap waybill-border-bottom ">
      <div class="address-item">
        <div class="address-header">
          <div class="address-target">FROM</div>
          <div class="address-country">VN</div>
        </div>
        <div class="address-content">
          <div class="address-phone">NAME NAME - Mobile No</div>
          <div class="address-text">Address here Address here</div>
        </div>
      </div>

      <div class="address-item">
        <div class="address-header">
          <div class="address-target">TO</div>
          <div class="address-country">CN</div>
        </div>
        <div class="address-content">
          <div class="phone">NAME NAME - Mobile No</div>
          <div class="address">Address here Address here</div>
        </div>
      </div>
    </div>

    <div class="payment-wrap waybill-border-bottom ">
      <div class="payment-left">
        <div class="payment-left-item">
          <div class="payment-title">PICKUP STATION</div>
          <div class="payment-left-content">C07</div>
        </div>
        <div class="payment-left-item">
          <div class="payment-title">DELIVERY STATION</div>
          <div class="payment-left-content">C07</div>
        </div>
      </div>
      <div class="payment-center waybill-border-right">
        <div class="payment-title payment-title-absolute">PAYMENT</div>
        COD
      </div>
      <div class="payment-right">
        <div class="payment-title payment-title-absolute">AMOUNT</div>
        $999.9
      </div>
    </div>

    <div class="order-detail-wrap">
      <div class="order-detail-left waybill-border-right">
        <div class="order-detail-left-header">
          <span>ORDER DETAIL:</span>
          <span>TOTAL: 3</span>
        </div>
        <div class="order-detail-left-content">
          <div>1. product name order-detail-left-content</div>
          <div>1. product name order-detail-left-content</div>
          <div>1. product name order-detail-left-content</div>
          <div>1. product name order-detail-left-content</div>
        </div>
      </div>
      <div class="order-detail-r">
        <div class="order-detail-r-item  waybill-border-bottom">
          <div class="order-detail-r-title">DELIVERY NOTE</div>
          <div class="order-detail-r-content">
            Allow to open box, but not try
          </div>
        </div>
        <div class="order-detail-r-item  waybill-border-bottom">
          <div class="order-detail-r-title">DELIVERY CONFIRM</div>
          <div class="order-detail-r-content">
            Allow to open box, but not try
          </div>
        </div>
        <div class="order-detail-r-item"></div>
      </div>
    </div>
  </div>